<div class ="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep looking', root_path, class: 'button is-warning' %>
</div>
<hr/>

<div class="col-3">
<section class='section'>
  <%= render(@cart.line_items) %>
</div>
  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart , method: :delete, data: {confirm: "Are you sure? " },class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
    </div>
  </div>
</section>